/*风格主色*/
$themeColor=#ed6900;

/*默认下划线颜色*/
$borderColor=$grey100

/*默认字体颜色*/

/*-------字色--------*/
/*主标题*/
$title_color=#2c3e50

/*副标题*/
$titleVice_color=#858585

/*标题下的标注 比如时间 用户名等等*/
$titleTag_color=#b4b4b4

/*内容字色*/
$content_color=#404040;

/*白色*/
$white_color=$white


/*----------背景色----------*/
$white_full_bgcolor=$fullWhite;
$white_transparent_bgcolor=$transparent

/*主色*/
$background-color=#f6624e;


/*字号*/
$text-small-s=10px
$text-small=12px
$text-middle=14px
$text-middle-x=15px
$text-large=16px
$text-large-x=18px

$text-small-s-rem=0.14rem
$text-small-rem=0.16rem
$text-middle-rem=0.18rem
$text-middle-x-rem=0.20rem
$text-large-rem=0.22rem
$text-large-x-rem=0.24rem

/*字体颜色*/
$common_text=rgba(51,51,51,1);



.text_c
  text-align center
.text_r
  text-align right
.text_small
  font-size $text-small
.text_middle
  font-size $text-middle

.text_content
  color $titleTag_color
.text_secend_content
  color $titleVice_color

.mt_10
  margin-top 10px
.mt_15
  margin-top 15px

.mt_20
  margin-top 20px

.ml_10
  margin-left 10px
.ml_15
  margin-left 15px
.mr_10
  margin-right 10px

.p_15
  padding 15px


.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}



